Adafruit-GPIO==1.0.1
Adafruit-PureIO==0.2.1
appdirs==1.4.0
cffi==1.9.1
click==6.7
Flask==0.12
Flask-SocketIO==2.8.2
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
packaging==16.8
pycparser==2.17
pyparsing==2.1.10
pyserial==3.2.1
python-engineio==1.1.1
python-socketio==1.6.3
RPi.GPIO==0.6.3
six==1.10.0
smbus-cffi==0.5.1
spidev==3.2
Werkzeug==0.11.15
