

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">


    var packet = {
        "controls": {
            "Thrusters": {
                "thruster1" : "1",
                "thruster2" : "1",
                "thruster3" : "1",
                "thruster4" : "1",
                "thruster5" : "1",
                "thruster6" : "1",
                "thruster7" : "1",
                "thruster8" : "1"
            },

            "absolutecontrols" : {

                "x" : "1",
                "y" : "1",
                "z" : "1"
            },

            "controls" : {

            }

        }
    }



    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        socket.emit('dearflask', packet);
    });

    socket.on("response", function(data) {
        console.log(data);
        setTimeout(function() {
            socket.emit("dearclient")
        }, 500);
    })




    socket.emit('dearclient');


    console.log();





</script>

<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>

<p>My first paragraph.</p>


</body>
</html>

