#container{
  display: flex;
  flex-direction: row;
}

#messages{
	width: 25vw;
	height: 100vh;
	border: 2px solid grey;
}

#moving{
	position: relative;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
	background-color: cyan;
	border: 2px solid blue;
}
